.checkout {
  background-color: #fff;
  height: 100vh;
  /* overflow: hidden; */
  width: 100vw;
}

.container-table {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  min-height: 500px;
  max-height: 800px;
  position: relative;
}

.container-table h1 {
  margin-left: 40px;
  margin-top: 50px;
}


.container-table table {
  background-color: #f0f0f0;
  box-shadow: 7px 7px 13px rgba(50, 50, 50, 0.22);
  font-size: 20px;
  height: 200px;
  margin-left: 30px;
  margin-top: 100px;
  padding: 20px;
  position: absolute;
  text-align: center;
  width: 95%
}

.container-table table, td {
  border-radius: 5px;
  height: 40px;
}

.table-item {
  background-color: #0C7135;
  color: #fff;
  font-weight: bold;
} 

.table-name {
  background-color: #a6ddbc;
}

.table-quantity {
  background-color: #0C7135;
  color: #fff;
  font-weight: bold;
}

.table-unit-price {
  background-color: #a6ddbc;
}

.table-subtotal {
  background-color: #a6ddbc;
}

.table-remove-item button {
  background-color: #e4c70b;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  height: 100%;
  text-align: center;
}

.table-remove-item button:hover {
  background-color: #c9ae02;
}

.total-price {
  background-color: #0C7135;
  border-radius: 15px;
  bottom: 20px;
  color: #fff;
  font-weight: bold;
  padding: 20px;
  position: absolute;
  right: 70px;
  text-align: center;
  width: 300px;
}

.container-form {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  height: 400px;
}

.container-form h1 {
  margin-left: 40px;
  margin-top: 20px;
}

.delivery-form {
  background-color: #f0f0f0;
  box-shadow: 7px 7px 13px rgba(50, 50, 50, 0.22);
  align-items: center;
  display: flex;
  flex-direction: row;
  margin-bottom: 150px;
  margin-left: 40px;
  margin-top: 40px;
  padding: 50px;
  position: relative;
  width: 95%;
}

.delivery-form label {
  display: flex;
  flex-direction: column;
  font-size: .9rem;
  font-weight: bold;
  padding-right: 20px;
}

.delivery-form input {
  border-bottom: 2px solid #323232;
  border-radius: 5px;
  font-size: 1rem;
  padding: 15px;
}

.select-seller {
  border-bottom: 2px solid #323232;
  height: 50px;
  width: 250px;
}

.select-seller option {
  font-size: 20px;
}

.input-adress {
  width: 500px;
}


.input-number {
  width: 150px;
}

.error-message {
  color: red;
  font-size: 14px;
  font-weight: bold;
  margin-left: 40%;
  margin-top: 120px;
  position: absolute;
  text-align: left;
}

.end-button {
  background-color: #0C7135;
  border: none;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  height: 60px;
  left: 50%;
  margin-left: -200px;
  margin-top: 300px;
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  width: 350px;
}

.end-button:hover {
  background-color: #04461e;
  transition: .5s;
}
