* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* div de todos os produtos */
.products {
  border: solid black 1px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 5px;
  justify-content: center;
}

/* botão do carrinho */
.cart-button {
  position: fixed;
  right: 50px;
  bottom: 90px;
  padding: 15px;
  margin-bottom: 0;
  z-index: 997;
}

/* card de produto */
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
  height: 300px;
  width: 300px;
  padding: 10px;
  margin: auto;
}

/* nome do produto */
/* .card h3 {

} */

/* imagem do produto */
.card img {
  height: 250px;
  width: 150px;
  object-fit: cover;
}

/* preço do produto */
/* .card h5 {

} */


/* div do contador de produtos */
/* .counter-product {
  
} */

.counter-product button {
  padding: 10px;

}

/* .counter-product input {

} */

.counter-product
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
