/* div de todos os produtos */
.products {
  background-color: #f0f0f0;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 32px;
}


/* card de produto */
.card {
  align-items: center;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px;
  display: flex;
  flex: 1 1 300px;
  flex-direction: column;
  max-height: 500px;
  max-width: 350px;
  margin-bottom: 20px;
  margin-right: 20px;
  padding: 2rem 2.5rem;
  width: 300px;
}


/* imagem do produto */
.image img {
  height: 200px;
  object-fit: cover;
  width: 100%;
}

/* nome do produto e preço estão com h3 e h5 */

.card h3 {
  margin-top: 5px;
}

.card h5 {
  font-size: 16px;
  margin-top: 10px;
}


/* div do contador de produtos */
.counter-product {
  display: flex;
  margin-top: 15px;
  padding: 1px;
}

.counter-product button {
  background-color: #0C7135;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 30px;
  font-weight: bold;
  padding: 5px;
  text-align: center;
  width: 40px;
}

.counter-product button:hover {
  background-color: #04461e;
  transition: .5s;
}

.counter-product input {
  background-color: #a6ddbc;
  border-radius: 2px;
  font-size: 16px;
  text-align: center;
  width: 35px;
}

/* botão do carrinho */
.cart-button {
  background-color: #0C7135;
  border-radius: 20px;
  bottom: 90px;
  cursor: pointer;
  margin-bottom: 0;
  padding: 15px;
  position: fixed;
  right: 50px;
  text-align: center;
  width: 300px;
  z-index: 997;
}

.cart-button span {
  color: #fff;
  font-size: 22px;
  font-weight: bold;
}

.cart-button:hover {
  background-color: #04461e;
  transition: .5s;
}
