.navBar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px;
  width: 100%;
  z-index: 99;
}

nav img {
  max-height: 50px;
  margin: 5px;
  margin-left: 40px;
}

.div {
  display: flex;
  justify-content: space-between;
}

.list {
  display: flex;
  align-items: center;
  list-style: none;
}

.item, a {
  color: black;
  margin-left: 15px;
  text-decoration: none;
}

.divButton {
  display: flex;
  align-items: center;
  margin-right: 50px;
}

button {
  margin-right: 50px;
  color: black;
  background-color: #F6E266;
  padding-left: 45px;
  border-radius: 10px;
  text-decoration: none;
  cursor: pointer;
}

button:hover {
  color: white;
}

.item a:hover {
  color: white;
  background-color: #105f2f;
  margin: 20px;
  border-radius: 10px;
}
