nav {
  align-items: center;
  border: 2px solid black;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px;
  width: 100%;
  z-index: 99;
}

nav img {
  max-height: 80px;
  margin: 10px;
  margin-left: 40px;
}

nav ul, li {
  text-decoration: none;
}

