/* div de todos os produtos */
.products {
  border: solid black 1px;
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(6, 1fr);
  justify-content: center;
}

/* botão do carrinho */
.cart-button {
  bottom: 90px;
  margin-bottom: 0;
  padding: 15px;
  position: fixed;
  right: 50px;
  z-index: 997;
}

/* card de produto */
.card {
  align-items: center;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  height: 250px;
  margin: auto;
  padding: 5px;
  width: 200px;
}

/* nome do produto e preço estão com h3 */

.card h3 {
  padding: 1px;
}

/* imagem do produto */
.card img {
  height: 150px;
  object-fit: cover;
  width: 100px;
}

/* div do contador de produtos */
.counter-product {
  padding: 1px;
}

.counter-product button {
  padding: 2px;

}

.counter-product input {
  width: 20px;
}
