.sales {
  background-color: #fff;
  display: flex;
  flex-wrap: wrap;
  /* height: 100vh; */
  /* width: 100vw; */
}

.saleCard {
  border: 1px solid black;
  background-color: #f0f0f0;
  border-left: 3px solid #3bb54a;
  border-radius: 5px;
  box-shadow: 7px 7px 13px rgba(50, 50, 50, 0.22);
  display: grid;
  grid-template-columns: 100px 150px 250px;
  justify-content: center;
  margin: 30px;
  min-height: 125px;
  min-width: 250px;
  width: 500px;
}

@media (max-width: 330px) {
  .saleCard {
    grid-template-columns: repeat(1, 1fr);
    padding: 15px;
    width: 100px;
  }
}

.saleCard:hover {
  cursor: pointer;
}

.orderId {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.statusCard {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 5px;
}

.saleInformation {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 7px;
}

.saleInformation p {
  font-size: 16px;
}

.sale-address {
  border: 1px solid red;
  font-size: 16px;
}
